// Mixins Here
.flex{
    display:flex;
}

.heavy-font{
    color: @nav-font;
    font-size: 1.8rem;
    font-weight: 700;
}

.btn(@justify, @align){
    .flex();
    justify-content: @justify;
    align-items: @align;
    border: 1px solid white;
    &:hover {
        background-color: white;
        color: @button-bg;
        cursor: pointer;
        border: 1px solid @button-bg;
        transition: .4s;
    }
}